# @format

{
  'useTabs': true,
  'semi': true,
  'singleQuote': true,
  'trailingComma': 'es5',
  'bracketSpacing': true,
  'arrowParens': 'always',
  'requirePragma': false,
  'insertPragma': true,
  'proseWrap': 'always',
}
